.stylish {
  background-color: salmon;
  height: 200px;
  width: 200px;
  border : 4px solid black;
  text-align: center;
  margin-top: 30px;
}

#hidden {
  color: salmon;
}

.container {
  text-align: center;
}